@media screen and (min-width: 1200px) {
  body {
    font-size: 1.1428571428vw;
  }

  .index-design .aporpos-page .container {
    max-width: 84.142857vw;
    padding: 0;
  }

  .index-design .contact-section {
    padding: 5.714285714285vw 0;
    padding-top: 10.571429vw;
  }
}

@media screen and (max-width: 1199px) {

  

  .btn {
    font-size: 0.75rem;
    padding: 0.5rem 1.25rem;
  }

  .index-desgin {
    .contact-section {
      padding-top: 100px;
    }

    .aporpos-page .about-section {
      padding: 60px 15px 50px 15px;
    }
  }

  .accordion .card {
    padding-left: 0;
  }

  .goal-panel .goal {
    padding: 4rem 2rem;
  }

  .goal .goal-count {
    font-size: 4rem;
    line-height: 60px;
  }

  .goal .startup-p {
    font-size: 1rem;
  }

  .t-content p {
    font-size: 1rem;
    line-height: 30px;
  }

  .t-user {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .t-user h4 {
    font-size: 1rem;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media screen and (min-width: 991px) {
  .pf-list li:nth-child(3n + 1) {
    // padding-left: 15px;
  }

  .pf-list li:nth-child(3n + 3) {
    // padding-right: 15px;
  }

  .pf-list li:nth-child(2n + 1) {
    padding-left: 0;
  }

  .portfolio-page .portfolio-section {
    padding: 8.571428571428571vw 0;
    padding-top: 6.42857142857142857142vw;
    margin-top: 6.42857142857142857142vw;

    .pf-list {
      .btnBlock {
        margin-top: 2.1428571428571vw;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .accor-section {
    padding-bottom: 10px;
  }

  .accordion {
    .link.card-header.btn:after,
    .open .link.card-header.btn::after {
      background-size: 100%;
      width: 8px;
      height: 13px;
      top: 7px;
    }

    .card {
      .card-header.btn {
        font-size: 1.2rem;
        padding: 0 0 0 30px;
      }

      .card-body {
        padding-right: 0;
        padding-left: 30px;
      }
    }
  }

  .goal .text-bottom {
    bottom: 20px;
    font-size: 16px;
  }

  .sec-title {
    position: relative;
  }

  .pf-list {
    padding: 0 15px;

    li {
      width: 50%;
    }
  }

  .pf-list li:nth-child(2n + 2) {
    padding-right: 0;
  }

  .btn-default {
    padding: 0;
    margin-top: 2.85714285vw;
    font-size: 0.85rem;
  }

  .pf-bx {
    .pf-top {
      height: 11rem;
      padding: 5px;

      img {
        max-width: 120px;
        max-height: 120px;
      }
    }

    .pf-body {
      font-size: 1rem;
      height: calc(100% - 11rem);

      h3 {
        font-size: 1.4rem;
        line-height: 1.3;
      }

      .btn {
        padding: 0;
        font-size: 0.85rem;
      }
    }
  }

  .header-scrolled {
    height: 4.5rem;
    padding-top: 0rem;

    &.header .container .img-fluid {
      width: 12rem;
    }
  }

  .content-block {
    padding-right: 2rem;

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.35rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    min-height: 200px;
  }

  .text-carousel .item h1 {
    font-size: 1.3rem;
    text-align: left;
    line-height: 30px;
  }

  .sec-title {
    position: relative;
    padding: 0 0;
  }

  .top-section {
    min-height: inherit;
    /* height :100vh; */
  }

  .ac-panel {
    margin-top: -21.428571vw;
  }

  .sec-title {
    margin-bottom: 26px;

    h2 {
      font-size: 1.2rem;
      padding-bottom: 19px;
      font-weight: 600;

      &::after {
        height: 5px;
        width: 50px;
      }
    }
  }

  .content-block p {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 1rem;
  }

  .accordion .card .card-header.btn {
    font-size: 1.2rem;
    padding: 0 0 0 30px;
  }

  .accordion .card-header.btn::after {
    top: 6px;
  }

  .accordion .card .card-body {
    padding-right: 0;
  }

  .goal-panel ul li {
    width: 100%;
    border-right: none;
    border-bottom: solid 10px #f2ebd6;
    height: auto;
  }

  .goal-panel .goal {
    text-align: left;
    justify-content: flex-start;
  }

  .portfolio-section {
    padding: 2rem 0;
  }

  .pf-list li {
    width: 50%;
    padding: 0;
    margin-bottom: 1rem;
  }

  .pf-list li:nth-child(3n + 1) {
    padding-left: 0;
  }

  .pf-bx .pf-body h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .testimonial {
    padding: 100px 30px;
  }

  .t-user {
    margin-top: 1rem;
  }

  .news-section {
    padding: 2rem 0;
  }

  .post-content h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .btnBloick {
    margin-top: 1rem;
  }

  .news-list {
    padding: 0;
  }

  .partners-section {
    padding: 2rem 0;
  }

  .f-nav li {
    padding: 0 15px;
    margin-bottom: 5px;
  }

  .back-to-top {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;

    img {
      width: 10px;
    }
  }
}

/* 



by karan soni



*/

@media screen and (max-width: 1025px) {
  .owl-nav {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    top: 50%;
  }

  .owl-nav {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    top: 50%;
  }

  .section.landing-section {
    height: 85.75vw;
    min-height: auto;
  }

  .ac-panel {
    // margin: -140px 0 0;
  }

  .text-carousel h1,
  .text-carousel .item h1 {
    font-size: 3.545454vw;
    line-height: 4.454545vw;
    max-width: 72vw;
  }

  canvas {
    height: 100% !important;
  }

  .footer {
    min-height: 600px;
  }
}

@media screen and (max-width: 992px) {
  .btn-scroll {
    font-size: 0.75rem;
  }

  .goal .startup-p {
    font-size: 13px;
  }

  .mobile-nav-toggle {
    top: -10px;
  }

  .mobile-nav-toggle {
    top: unset;
    font-size: 1rem;
  }

  .header .logo {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .lang-btn {
    position: absolute;
    right: 15px;
  }

  .section.landing-section {
    .text-carousel h1,
    .text-carousel span,
    .text-carousel .item h1,
    .landing-text h2,
    .landing-text span,
    .landing-text .item h1 {
      letter-spacing: -0.02vw;
    }
  }

  .btn-default img {
    padding-left: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header.header-scrolled {
    .logo {
      margin-top: 4px;
    }

    .lang-btn {
      top: 28px;
      padding: 0 0;
      font-size: 0.75rem;
    }

    .mobile-nav-toggle {
      padding: 10px 0;
    }
  }

  .ac-panel {
    // margin-top: -70px;
    padding: 35px 40px;
  }

  .container {
    max-width: 100vw;
  }

  .text-carousel,
  .landing-text {
    h1,
    span,
    .item h1 {
      // font-size  : 40px;
      // font-weight: 600;
      // line-height: 50px;
    }
  }

  .sec-title::after {
    height: 5px;
  }

  .cont-block {
    width: 100%;
    padding: 0 15px;
  }

  .acord-block {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  // .header-scrolled {
  //     height: 50px;
  // }

  .news-page .landing-section::before {
    content: "";
    background: url(../rel-img/news-bg-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  .aporpos-page .landing-section::before {
    content: "";
    background: url(../rel-img/porpose-bg-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  .portfolio-page .landing-section::before {
    content: "";
    background: url(../rel-img/port-bg-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  // .portfolio-page .section.landing-section,
  // .news-page .section.landing-section,
  // .aporpos-page .section.landing-section,
  // .section.landing-section {
  //     max-height: 101.333333333vw;
  //     height    : 101.333333333vw;
  // }
  .portfolio-section {
    .pf-list li:nth-child(3n + 1) {
      padding-left: 0;
    }

    .pf-list li:nth-child(3n + 3) {
      padding-right: 0;
    }
  }

  .s-nav li a {
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    line-height: 0.8;
  }

  .f-social span {
    font-size: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  .index-design .container.top-section {
    top: 32vw;
  }

  .landing-section::before {
    content: "";
    background: url(../rel-img/porpose-bg-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  .footer::before {
    content: "";
    background: url(../rel-img/footer-sm.jpg) no-repeat top center;
    background-size: 100% 100%;
  }

  .testimonial::before {
    content: "";
    background: url(../rel-img/testi-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  .contact-section::before {
    content: "";
    background: url(../rel-img/contac-sm.jpg) no-repeat top center;
    background-size: 100%;
  }

  .header .container {
    margin: 0 10px;
  }

  .content-block {
    padding-right: 0;
  }

  body .container {
    max-width: calc(100vw - 30px);
    padding: 0 0;
  }

  .section.landing-section .text-carousel h1,
  .section.landing-section .text-carousel span,
  .section.landing-section .text-carousel .item h1,
  .section.landing-section .landing-text h1,
  .section.landing-section .landing-text span,
  .section.landing-section .landing-text .item h1 {
    max-width: max-content;
  }

  .section.landing-section {
    height: 101vw;
    max-height: initial;
  }

  .container.top-section {
    top: 49vw;
  }

  .header .logo img.img-fluid {
    max-width: 170px;
    width: auto;
  }

  .btn-scroll {
    font-size: 12px;
  }

  .top-section {
    padding: 0 30px;
    // top      : calc(50%);
    // transform: translateY(-50%);
    position: absolute;

    .text-carousel h1,
    .text-carousel .item h1 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .text-carousel,
  .landing-text {
    h1,
    span,
    .item h1 {
      font-size: 25px;
      font-weight: 600;
      line-height: 35px;
    }
  }

  .slider {
    min-height: auto;
  }

  .owl-nav {
    display: none;
  }

  .testimonial {
    padding-bottom: 37px;
  }

  .testimonial .owl-carousel .owl-dots {
    margin-top: 40px;
    text-align: center;
    display: block;

    button.owl-dot {
      width: 10px;
      height: 10px;
      background: #fff;
      margin: 0 5px;
      border-radius: 25px;

      &.active {
        background: #d26c58;
      }
    }
  }

  .header .logo {
    margin-top: 62px;
  }

  .index-design {
    .header .logo {
      margin-top: 0;
    }

    .lang-btn {
      top: 4px;
    }

    .header .logo img.img-fluid {
      // max-width: 120px;
      width: auto;
    }

    .header.header-scrolled .lang-btn {
      top: 15px;
    }
  }

  .mobile-nav-toggle {
    top: 15px;
  }

  .lang-btn {
    top: 19px;
  }

  .btn-scroll img {
    margin-left: 5px;
    width: 7px;
  }

  .landing-text {
    h2 {
      font-size: 5vw;
      line-height: 7vw;
      padding: 0 30px;
    }
  }

  .portfolio-section,
  .news-section,
  .partners-section {
    .container {
      max-width: calc(100vw - 40px);
    }
  }

  .portfolio-section {
    padding: 2rem 0;
    padding: 33px 15px;

    .pf-bx .pf-body {
      font-size: 0.75rem;

      h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
    }
  }

  .pf-list li {
    width: 100%;
    margin-bottom: 40px;
  }

  .pf-bx .pf-body {
    h3 {
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 1.25rem 0;
    }

    .btnBloick {
      margin-top: 9px;
    }
  }

  .testimonial::before {
    height: 100%;
  }

  .f-nav {
    flex-direction: column;

    li {
      margin-bottom: 21px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .f-social {
    text-align: center;
  }

  .f-logo {
    margin-bottom: 55px;

    img {
      width: 227px;
    }
  }

  .contact-request .contact-request-btn {
    background-color: rgb(210, 108, 88);
    color: rgb(255, 255, 255);
  }

  .goal-panel .goal {
    padding: 3rem 3rem;
    min-height: calc(100vw - 30px);
    display: flex;
    align-items: center;

    .goal-count {
      font-size: 6.875rem;
      line-height: 79px;
    }

    .startup-p {
      font-size: 26px;
      text-align: left;
    }
  }

  .footer {
    min-height: 128vw;
    padding-bottom: 35px;
    padding-top: 73px;

    &::before {
      height: 140%;
    }
  }

  .contact-section {
    padding-top: 37.3333333333333333vw;
  }
}

@media screen and (max-width: 375px) {
  .btn-scroll img {
    margin-left: 5px;
  }
}

@media screen and (max-width: 360px) {
  .btn-scroll img {
    margin-left: 5px;
  }

  .header.header-scrolled .lang-btn {
    top: 12px;
    padding: 10px 0;
    right: 10px;
  }

  .lang-btn {
    top: 19px;
    right: 0;
  }

  .header.header-scrolled .mobile-nav-toggle {
    // top : 10px;
    padding: 0 0;
    left: 15px;
  }

  .mobile-nav-toggle {
    top: 15px;
    left: 0;
  }
}
